[Desktop Entry]
Type=Application
Name=QLinuxDeviceManager
GenericName=Linux Device Manager
Comment=Inspect Linux hardware, drivers, storage and live device events
Exec=qlinuxdevicemanager
TryExec=qlinuxdevicemanager
Icon=io.github.birdie-github.QLinuxDeviceManager
Keywords=Device;Hardware;Driver;USB;PCI;NVMe;System;
Terminal=false
Categories=System;HardwareSettings;
StartupNotify=true
